@media (max-width: 1200px) {
    .container {
        width: 960px;
    }
    .about {
        &__text {
            width: 500px;
        }
        &__descr {
            width: 500px;
        }
        &__wrapper {
            grid-template-columns: 400px 580px;
        }
        &__skills {
            width: 520px;
            &-item {
                grid-template-columns: 40px 180px;
                column-gap: 20px;
                width: 260px;
            }
        }
    }
    .skills {
        padding-bottom: 80px;
        &__items {
            display: grid;
            grid-template-columns: repeat(3, 270px);
            grid-template-rows: repeat(2, 270px);
            grid-auto-rows: 270px;
            gap: 15px;
            margin-top: 40px;
            justify-content: center;
        }
    }
    .price-list {
        &__wrapper {
            column-gap: 240px;
        }
    }
    .contacts {
        margin-top: 80px;
        &__wrapper {
            display: grid;
            grid-template-columns: repeat(2, minmax(400px, 500px));
            column-gap: 50px;
        }
        &__form {
            grid-template: 45px 190px / repeat(2, 220px);
        }
        &__privacy {
            width: 240px;
        }
    }
    .sidepanel {
        display: none;
    }
}

@media (max-width: 992px) {
    .container {
        width: 720px;
    }
    .sidepanel {
        display: none;
    }
    .about {
        padding-top: 60px;
        &__photo {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__wrapper {
            grid-template-columns: 320px 390px;
            column-gap: 40px;
            row-gap: 20px;
        }
        &__descr {
            width: 390px;
        }
        &__text {
            width: 390px;
        }
        &__skills {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: 380px;
            height: 270px;
            &-item {
                display: grid;
                grid-template-columns: 40px 320px;
                column-gap: 20px;
                width: 390px;
            }
            &-text {
                width: 320px;
            }
            &-descr {
                width: 320px;
            }
        }
    }
    .resume {
        padding: 100px 0 60px 0;
        &__education {
            &-item {
                &-descr {
                    width: 380px;
                }
            }
        }
        &__experience {
            width: 320px;
            &-items {
                width: 320px;
            }
            &-item {
                width: 290px;
                &-descr {
                    width: 290px;
                }
                &-sub {
                    width: 200px;
                }
            }
        }
    }
    .skills {
        padding-top: 0px;
        &__items {
            grid-template-columns: repeat(auto-fit, 270px);
            grid-template-rows: repeat(2, 270px);
        }
    }
    .portfolio {
        &__wrapper {
            grid-template: repeat(2, 280px) / repeat(2, 280px);
            .vertical {
                grid-column: auto;

            }
        }
    }
    .price-list {
        &__wrapper {
            grid-template: repeat(3, 45px) / repeat(auto-fit, 300px) ;
            column-gap: 160px;
            justify-content: center;
        }
    }
    .contacts {
        margin-top: 60px;
        padding-bottom: 60px;
        &__wrapper {
            grid-template-columns: repeat(2, minmax(350px, 450px));
            column-gap: 50px;
        }
        &__title {
            width: 300px;
        }
        &__form {
            grid-template: 45px 190px / repeat(2, 160px);
        }
        &__privacy {
            width: 160px;
            font-size: 10px;
        }
        &__photo {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__btn {
            width: 150px;
            font-size: 12px;
            padding: 12px 10px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        width: 540px;
    }
    .about {
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
            justify-content: center;
        }
        &__photo {
            width: 340px;
            height: 340px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__skills {
            height: 285px;
        }
    }
    .resume {
        padding-bottom: 40px;
        &__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            margin-top: 60px; 
            height: 700px;
        }
        &__education {
            width: 320px;
            &-title {
                width: 320px;
            }
            &-item {
                width: 320px;
                &-descr {
                    width: 320px;
                }
            }
        }
    }
    .skills {
        &__progress {
            grid-template-columns: repeat(auto-fit, 350px);
            grid-template-rows: repeat(2, 70px);
            column-gap: 45px;
            row-gap: 50px;
            width: 320px;
        }
    }
    .contacts {
        &__photo {
            display: none;
        }
        &__wrapper {
            grid-template-columns: 320px;
            column-gap: 50px;
            justify-content: center;
        } 
        &__subtitle {
            font-size: 30px;
            line-height: 60px;
        }
        &__privacy {
            width: 200px;
            font-size: 12px;
        }
    }
    .price-list {
        &__wrapper {
            margin-top: 30px;
            width: 576px;
            justify-content: center;
        }
        &__item {
            width: 200px;
        }
    }
    .portfolio {
        padding-bottom: 40px;
    }
    .promo {
        &__title {
            font-size: 20px;
            width: 320px;
            line-height: 40px;
        }
        &__subtitle {
            width: 320px;
            font-size: 16px;
        }
    }
    .portfolio {
        &__wrapper {
            grid-template: repeat(2, 280px) / repeat(1, 280px);
            .vertical {
                grid-column: auto;

            }
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .price-list {
        &__wrapper {
            margin-top: 30px;
            width: 310px;
            justify-content: center;
            grid-template: repeat(auto-fit, 45px);
            row-gap: 30px;
        }
        &__item {
            width: 200px;
            grid-template: repeat(2, 20px) / 180px 100px;
        }
        &__subtitle {
            font-size: 14px;
            &:before {
                left: -15px;
                width: 10px;
                height: 10px;
                top: 5px;
            }
        }
    }
    .contacts {
        &__privacy {
            width: 300px;
            font-size: 12px;
        }
        &__title {
            width: 280px;
        }
        &__form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 300px;
            height: 400px;
            div:nth-child(5) {
                order: 4;
            }
            button {
                order: 5;
            }
        }
        &__input {
            height: 45px;
            width: 300px;
        }
        &__descr {
            margin-left: 10px;
        }
        &__textarea {
            width: 300px;
            height: 143px;
        }
    }
    .skills {
        &__progress {
            width: 300px;
            grid-template-columns: repeat(auto-fit, 300px);
            &-item {
                width: 300px;
            }
            &-scale-grey {
                width: 300px;
            }
        }
        &__subtitle {
            font-size: 20px;
        }
    }
    .resume {
        &__experience {
            margin-top: 20px;
            width: 300px;
            &-title {
                width: 300px;
            }
            &-items {
                width: 300px;
            }
            &-item {
                width: 270px;
                &-descr{
                    width: 270px;
                }
            }
        }
        &__education {
            width: 300px;
            &-title {
                width: 310px;
            }
            &-item {
                width: 270px;
                &-head {
                    width: 270px;
                }
                &-descr {
                    width: 270px;
                }
            }
        }
        &__subtitle {
            font-size: 20px;
        }
    }
    .about {
        &__descr {
            width: 320px;
            margin: 0 auto;
            padding-left: 10px;
        }
        &__subtitle {
            font-size: 30px;
        }
        &__text {
            width: 310px;
        }
        &__skills {
            width: 310px;
            height: 400px;
            padding-left: 20px;
            &-item {
                display: grid;
                grid-template-columns: 20px 250px;
                column-gap: 40px;
                width: 300px;
                div {
                    width: 240px;
                }
            }
            &-text {
                width: 240px;
            }
            &-descr {
                width: 240px;
            }
        }
        &__photo {
            width: 300px;
            margin-left: 10px;
        }
    }
    .promo {
        background: url('../img/bg/Фон.jpg') 65% (center/cover) no-repeat;
        &__title {
            width: 230px;
            font-size: 20px;
        }
        &__subtitle {
            width: 310px;
        }
        #purp {
            display: none;
        }
    }
    .menu {
        &__block {
            width: 260px;
            padding-left: 20px;
        }
    }
}