@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
@import 'libs/bootstrap-reboot.min';
@import 'libs/font';

@import 'basic/variables';
@import 'basic/mixins';

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}


@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/buttons';
@import 'blocks/sidepanel';
@import 'blocks/menu';