@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
@import 'libs/bootstrap-reboot.min';
@import 'libs/font';

@import 'basic/variables';
@import 'basic/mixins';

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.divider {
    width: 60px;
    height: 2px;
    background: $main-color;
    margin-top: 25px;
}


@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/buttons';
@import 'blocks/sidepanel';
@import 'blocks/menu';
@import 'blocks/about';
@import 'blocks/resume';