.about {
    padding-top: 120px;
    &__wrapper {
        display: grid;
        grid-template-columns: 400px 670px;
        grid-template-rows: minmax(245px, auto) minmax(160px, auto);
        grid-auto-rows: minmax(245px, auto);
        column-gap: 70px;
        row-gap: 20px;
    }
    &__photo {
        grid-row: 1/3;
        img {
            width: 100%;
            height: 550px;
        }
    }
    &__title {
        position: relative;
        padding-left: 12px;
        @include circle;
    }
    &__text {
        margin-top: 20px;
        font-style: normal;
        font-size: 14px;
        line-height: 21px;
    }
    &__skills {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        &-item {
            display: grid;
            grid-template-columns: 40px 210px;
            column-gap: 20px;
            width: 260px;
            img {
                width: 25px;
                height: 25px;
            }
        }
        &-circle {
            position: relative;
            padding: 15px 0 0 15px;
            @include circle;
            &:before {
                top: 0;
            }
        }
        &-text {
            margin-top: 6px;
            font-style: normal;
            font-size: 12px;
            line-height: 18px;
        }
    }
    &__descr {
        padding-top: 6px;
        .divider {
            margin-top: 4px;
        }
    }
}

