.contacts {
    margin-top: 120px;
    padding-bottom: 70px;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, minmax(400px, 650px));
        column-gap: 70px;
    }
    &__title {
        text-align: left;
        position: relative;
        left: 12px;
        @include circle;
        &:before {
            left: -12px;
        }
    }
    &__subtitle {
        margin-top: 6px;
        font-weight: bold;
        font-size: 36px;
        line-height: 60px;
        color: #000000;
        text-align: left;
        left: -10px;
    }
    .divider {
        margin-top: 2px;
    }
    &__text {
        margin-top: 20px;
    }
    &__links {
        width: 90px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        a {
            text-decoration: none;
        }
    }
    &__form {
        margin-top: 30px;
    }
    &__btn {
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
        text-align: center;
        border: none;
        width: 200px;
    }
    &__form {
        margin-top: 30px;
        display: grid;
        grid-template: 45px 190px / repeat(2, 280px);
        column-gap: 25px;
        row-gap: 30px;
        label {
            position: absolute;
            display: block;
            height: 18px;
            font-weight: 500;
            font-size: 12px;
            padding: 0 8px;
            background-color: #fff;
            top: -9px;
            left: 12px;
        }
    }
    &__input {
        position: relative;
        input {
            width: 100%;
            height: 100%;
            padding: 0 20px;
            font-weight: 500;
            font-size: 12px;
            color: #000000;
        } 
    }
    &__textarea {
        position: relative;
        grid-column: 1 / 3;
        textarea {
            width: 100%;
            height: 100%;
            padding: 0 20px;
            font-weight: 500;
            font-size: 12px;
            color: #000000;
            resize: none;
            padding: 15px;
        }
    }
    &__privacy {
        align-self: center;
        font-weight: 500;
        font-size: 12px;
        color: #000000;
        width: 310px;
        text-align: center;
        input {
            margin-right: 10px;
        }
    }
}