.portfolio {
    padding-bottom: 60px;
    &__title {
        position: relative;
        text-align: center;
        @include circle;
        &:before {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle {
        display: block;
        text-align: center;
    }
    .divider {
        margin: 25px auto;
    }
    &__wrapper {
        margin-top: 60px;
        display: grid;
        grid-template: repeat(2, 280px) / repeat(3, 280px);
        grid-auto-rows: 280px;
        gap: 5px;
        justify-content: center;
        .vertical {
            grid-row: 1 / 3;
            grid-column: 3 / 4;
            height: 565px;
            img {
                height: 565px;
            }
        }
        a {
            width: 280px;
            height: 280px;
            position: relative;
            transition: 0.5s all;
            filter: blur(2px);
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &:hover {
                transform: scale(1.05);
                filter: blur(0);
            }
        }
    }
}