.price-list {
    margin-top: 60px;
    min-height: 360px;
    &__title {
        position: relative;
        text-align: center;
        @include circle;
        &:before {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle, &__price {
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
    }
    &__price {
        text-align: right;
    }
    &__descr {
        grid-column: 1 / 3;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
    }
    &__wrapper {
        display: grid;
        grid-template: repeat(3, 45px) / repeat(2, 366px) ;
        grid-auto-rows: 45px;
        row-gap: 20px;
        column-gap: 360px;
        margin-top: 60px;
    }
    &__item {
        width: 366px;
        height: 45px;
        display: grid;
        grid-template: repeat(2, 20px) / repeat(2, 183px);
        row-gap: 5px;
    }
    &__subtitle {
        position: relative;
        @include circle;
        &:before {
            width: 15px;
            height: 15px;
            top: 3px;
            left: -25px;
        }
    }
    .divider {
        margin: 32px auto;
    }
}