.skills {
    padding-bottom: 120px;
    &__title {
        position: relative;
        text-align: center;
        @include circle;
        &:before {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle {
        display: block;
        text-align: center;
        margin-top: 6px;
    }
    .divider {
        margin: 0 auto;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(4, 270px);
        grid-template-rows: repeat(2, 270px);
        grid-auto-rows: 270px;
        gap: 15px;
        margin-top: 60px;
    }
    &__item {
        border: 1px solid #000;
        box-shadow: 3px 3px 3px rgba($color: #000000, $alpha: .2);
        padding: 30px;
        &-icon {
            height: 65px;
            img {
                height: 65px;
            }
        }
        &-title {
            margin-top: 20px;
        }
        &-descr {
            margin-top: 15px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #000000;

        }
    }
    .jquery {
        display: block;
        height: 36px;
        margin-top: 16px;
    }
    &__progress {
        width: 745px;
        display: grid;
        grid-template-columns: repeat(2, 350px);
        grid-template-rows: repeat(2, 70px);
        column-gap: 45px;
        row-gap: 30px;
        margin: 0 auto;
        margin-top: 120px;
        &-block {
            display: flex;
            justify-content: space-between;
        }
        &-title {
            position: relative;
            padding-left: 12px;
            @include circle;
            &:before {
                position: absolute;
                top: -6px;
            }
        }
        &-scale-grey {
            width: 350px;
            height: 14px;
            background-color: #E8E4DE;
            margin-top: 20px;
            border-radius: 6px;
            span {
                display: block;
                height: 100%;
                background-color: $main-color;
                border-radius: 6px;
            }
        }
    }
}
